/*
Table Of Contents:
1. General
2. Navigation
3. Hero
4. Buttons
5. Forms
6. Cards
   Media Queries
*/

/*
1. General
*/

body {
    padding: 0;
    margin: 0;
    color: #ffffff;
}

h2 {
    color: rgb(200, 110, 50);
    font-size: 2.75rem;
    padding-top: 100px;
    margin-top: -100px;
}

p {
    font-size: 1.5rem;
}

section {
    padding: 2rem 3rem;
    background: rgb(40, 40, 40);
    top: -100px;
}


section:nth-of-type(2n){
    background: rgb(50, 50, 50);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
}

/*
2. Navigation
   Media Queries
*/

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    background-color: rgba(45, 0, 60, 0.7);
    height: 75px;
}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

nav .logo a {
    color: rgb(200, 110, 50)
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
    padding: 0 1em;
}

nav .links li:hover,  nav .links li .active {
    border-bottom: 2px solid white;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

#nav-toggle {
    position: absolute;
    display: none;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 3px;
}

/*
3. Hero
*/
.hero {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("assets/foliage1.jpg");
    background-color: rgba(60, 30, 0, 0.8);
    background-blend-mode: multiply;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.hero .hero-content {
    margin: 5rem;
}

.hero h1 {
    margin: 0 0 3% 0;
    font-size: 4rem;
}

.hero p {
    margin: 0 0 3rem 0;
    font-size: 2rem;
}

/*
4. Buttons
*/

.btn {
    text-decoration: none;
    margin: 0.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.btn-lg {
    color: #ffffff;
    margin: 0.5rem;
    padding: 0.8rem;
    background: blue;
    border: 2px solid #ffffff;
}

.btn-primary {
    background-color: rgb(200, 110, 50);
    color: rgb(40, 0, 60);
}

.btn-tr {
    background: rgba(255, 255, 255, 0.1);
}

.btn-tr:hover {
    background: rgba(200, 110, 50, 0.5);
}

/*
5. Forms
*/
 form {
     margin: 0 10%;
     padding: 1em;
     background-color: rgb(40, 0, 60);
     border-radius: 0.5em;
 }

 form h3 {
     color: rgb(200, 110, 50);
     font-size: 2em;
 }

.contact-form input, .contact-form textarea {
    background: rgb(200, 110, 50);
    color: rgb(40, 0, 60);
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
}

/*
6. Cards
*/

.card-container {
    grid-template-columns: repeat(3, 1fr)
}

.card {
    background-color: rgb(40, 0, 60);
    border: 2px solid rgb(200, 110, 50);
    border-radius: 0 2em;
    overflow: hidden;
}

.card-header {
    text-align: center;
    font-size: 1.5em;
    color: rgb(200, 110, 50);
}

.card-img {
    object-fit: cover;
    width: 100%;
    height: 40%;
}

.card-description {
    margin: 0.5em;
    font-size: 1em;
}

/*
7. Quotes
*/

.quote {
    background-color: rgb(200, 110, 50);
    border: 2px solid rgb(40, 0, 60);
    border-radius: 0 1em;
    display: flex;
    padding: 0.5rem;
}

.quote-header {
    width: 30%;
}

.quote-img {
    height: 5rem;
    width: 5rem;
    margin: 0  auto 0 auto;
    border: 2px solid rgb(40, 0, 60);
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.quote-name {
    color: rgb(40, 0, 60);
    text-align: center;
    font-size: 1.5rem;
    margin: 0.75rem 0;
}

.quoted-description {
    text-align: center;
    margin: 0;
}

blockquote {
    width: 70%;
    padding-left: 0.5rem;
    border-left: 2px solid rgb(40, 0, 60);
}

/*
   Media Queries
*/

@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.8);
        left: 0;
        right: 0;
        top: 100px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        overflow: hidden;
        transition: .5s ease-in-out;
    }

    nav .icon-burger {
        display: block;
    }

    nav :checked ~ .links {
        bottom: 0;
    }

    .container {
        grid-template-columns: repeat(1, 1fr)
    }
}